<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>goflow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListRider</display-name>
    <servlet-name>ListRider</servlet-name>
    <servlet-class>controller.rider.ListRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRider</servlet-name>
    <url-pattern>/ListRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRider</display-name>
    <servlet-name>GetRider</servlet-name>
    <servlet-class>controller.rider.GetRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRider</servlet-name>
    <url-pattern>/GetRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRider</display-name>
    <servlet-name>AddRider</servlet-name>
    <servlet-class>controller.rider.AddRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRider</servlet-name>
    <url-pattern>/AddRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRider</display-name>
    <servlet-name>DeleteRider</servlet-name>
    <servlet-class>controller.rider.DeleteRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRider</servlet-name>
    <url-pattern>/DeleteRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRider</display-name>
    <servlet-name>UpdateRider</servlet-name>
    <servlet-class>controller.rider.UpdateRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRider</servlet-name>
    <url-pattern>/UpdateRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiderRegister</display-name>
    <servlet-name>RiderRegister</servlet-name>
    <servlet-class>controller.rider.RiderRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiderRegister</servlet-name>
    <url-pattern>/RiderRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiderLogin</display-name>
    <servlet-name>RiderLogin</servlet-name>
    <servlet-class>controller.auth.RiderLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiderLogin</servlet-name>
    <url-pattern>/RiderLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.auth.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.auth.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverRegister</display-name>
    <servlet-name>DriverRegister</servlet-name>
    <servlet-class>controller.driver.DriverRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverRegister</servlet-name>
    <url-pattern>/DriverRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.auth.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRide</display-name>
    <servlet-name>AddRide</servlet-name>
    <servlet-class>controller.ride.AddRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRide</servlet-name>
    <url-pattern>/AddRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDriver</display-name>
    <servlet-name>AddDriver</servlet-name>
    <servlet-class>controller.driver.AddDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriver</servlet-name>
    <url-pattern>/AddDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDriver</display-name>
    <servlet-name>UpdateDriver</servlet-name>
    <servlet-class>controller.driver.UpdateDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDriver</servlet-name>
    <url-pattern>/UpdateDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDriver</display-name>
    <servlet-name>GetDriver</servlet-name>
    <servlet-class>controller.driver.GetDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDriver</servlet-name>
    <url-pattern>/GetDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDriver</display-name>
    <servlet-name>ListDriver</servlet-name>
    <servlet-class>controller.driver.ListDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDriver</servlet-name>
    <url-pattern>/ListDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDriver</display-name>
    <servlet-name>DeleteDriver</servlet-name>
    <servlet-class>controller.driver.DeleteDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDriver</servlet-name>
    <url-pattern>/DeleteDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboard</display-name>
    <servlet-name>AdminDashboard</servlet-name>
    <servlet-class>controller.admin.AdminDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboard</servlet-name>
    <url-pattern>/AdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCity</display-name>
    <servlet-name>ListCity</servlet-name>
    <servlet-class>controller.ride.ListCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCity</servlet-name>
    <url-pattern>/ListCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiderViewRideStatus</display-name>
    <servlet-name>RiderViewRideStatus</servlet-name>
    <servlet-class>controller.ride.RiderViewRideStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiderViewRideStatus</servlet-name>
    <url-pattern>/RiderViewRideStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RidesHistory</display-name>
    <servlet-name>RidesHistory</servlet-name>
    <servlet-class>controller.ride.RidesHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RidesHistory</servlet-name>
    <url-pattern>/RidesHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverRinging</display-name>
    <servlet-name>DriverRinging</servlet-name>
    <servlet-class>controller.ride.DriverRinging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverRinging</servlet-name>
    <url-pattern>/DriverRinging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverUpdateRideStatus</display-name>
    <servlet-name>DriverUpdateRideStatus</servlet-name>
    <servlet-class>controller.ride.DriverUpdateRideStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverUpdateRideStatus</servlet-name>
    <url-pattern>/DriverUpdateRideStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiderRideStatus</display-name>
    <servlet-name>RiderRideStatus</servlet-name>
    <servlet-class>controller.ride.RiderRideStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiderRideStatus</servlet-name>
    <url-pattern>/RiderRideStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverRideStatus</display-name>
    <servlet-name>DriverRideStatus</servlet-name>
    <servlet-class>controller.ride.DriverRideStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverRideStatus</servlet-name>
    <url-pattern>/DriverRideStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRide</display-name>
    <servlet-name>DeleteRide</servlet-name>
    <servlet-class>controller.ride.DeleteRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRide</servlet-name>
    <url-pattern>/DeleteRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicleType</display-name>
    <servlet-name>AddVehicleType</servlet-name>
    <servlet-class>controller.vehicleType.AddVehicleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicleType</servlet-name>
    <url-pattern>/AddVehicleType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVehicleType</display-name>
    <servlet-name>DeleteVehicleType</servlet-name>
    <servlet-class>controller.vehicleType.DeleteVehicleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVehicleType</servlet-name>
    <url-pattern>/DeleteVehicleType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetVehicleType</display-name>
    <servlet-name>GetVehicleType</servlet-name>
    <servlet-class>controller.vehicleType.GetVehicleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVehicleType</servlet-name>
    <url-pattern>/GetVehicleType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListVehicleType</display-name>
    <servlet-name>ListVehicleType</servlet-name>
    <servlet-class>controller.vehicleType.ListVehicleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVehicleType</servlet-name>
    <url-pattern>/ListVehicleType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicleType</display-name>
    <servlet-name>UpdateVehicleType</servlet-name>
    <servlet-class>controller.vehicleType.UpdateVehicleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicleType</servlet-name>
    <url-pattern>/UpdateVehicleType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverLogin</display-name>
    <servlet-name>DriverLogin</servlet-name>
    <servlet-class>controller.auth.DriverLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverLogin</servlet-name>
    <url-pattern>/DriverLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>controller.auth.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
</web-app>