@font-face {
    font-family: 'Gabarito';
    src: url('../fonts/Gabarito/Gabarito-VariableFont_wght.ttf') format('truetype');
}

.btn, #movingPart {
    transition: 0.3s
}

body {
    font-family: 'Gabarito', cursive;
    background-color: #fff;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Gabarito', cursive;
}

.con-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.con-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: right;
}

.con-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}

/* navigation */
nav {
    background-color: #000;
    /*width: 100%;*/
    width: calc(100% - 128px);
    /*height: 60px;*/
    margin: 0;
    color: #fff;
    padding: 16px 64px;
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.nav-logo {
    font-size: 24px;
    font-family: 'Gabarito', cursive;
}

.nav-right-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-align: right;

    width: 100%;
    /*padding-right: 120px;*/
}

.nav-right-links a {
    margin-left: 16px;
}


/* Login page */
.login-con {
    width: 100%;
    height: calc(100vh - 60px);
}

.login-box {
    width: 328px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.login-box label {
    display: block;
    width: 100%;
}

.login-box input {
    height: 48px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 10px;
    transition-duration: .3s;
    font-size: 14px;
}

.login-box input:focus {
    outline: none;
    border: 2px solid #000;
    background-color: #f3f3f3;
    transition-duration: .3s;
}

.login-box input:hover {
    background-color: #f3f3f3;
    transition-duration: .3s;
}

.login-btn {
    margin-top: 10px;
    box-shadow: 0px 5px 20px 0px #0000004a;
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer;
    font-size: 16px;
    transition-duration: .3s;
}

.login-btn:hover {
    transition-duration: .3s;
    background-color: #555;
    box-shadow: none;
}

.login-box h1 {
    font-size: 28px;
    text-align: left;
    line-height: 0;
}

.login-box h3 {
    font-size: 24px;
    text-align: left;
    font-weight: 400;
}

/* legal footer */
.legal-footer {
    font-size: 12px;
    color: #555;
}

/* map env */
#map {
    height: calc(100vh - 60px);
    width: 100%;
}

/* map prompt */
.map-prompter {
    min-width: 320px;
    position: absolute;
    z-index: 1000;
    background-color: rgb(255 255 255);
    backdrop-filter: blur(20px);
    padding: 40px 40px;
    border-bottom-right-radius: 16px;
}

.submit-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 8px;
    /*box-shadow: 0px 5px 20px 0px #0000004a;*/
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer;
    /*font-size: 16px;*/
    height: 48px;
    transition-duration: .3s;
}

.submit-btn:hover {
    transition-duration: .3s;
    background-color: #555;
    box-shadow: none;
}

.submit-btn:disabled {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: none;
    background-color: #696969 !important;
    color: #cbcbcb !important;
    border: none !important;
    cursor: pointer;
    font-size: 16px;
    transition-duration: .3s;
}

.next-btn {
    padding: 10px;
    margin: 0 5px;
    border-radius: 8px;
    /*box-shadow: 0px 5px 20px 0px #0000004a;*/
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer;
    font-size: 16px;
    transition-duration: .3s;
}

.next-btn:hover {
    transition-duration: .3s;
    background-color: #555;
    box-shadow: none;
}

.map-prompter select, .map-prompter input {
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*width: 100%;*/
    /*padding: 10px 12px;*/
    /*border-radius: 8px;*/
    /*background-color: transparent;*/
    /*border: 2px solid #000;*/

    height: 48px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 10px;
    transition-duration: .3s;
    font-size: 14px;
}

.map-prompter select:focus, .map-prompter input:focus {
    outline: none;
    transition-duration: .3s;
}

.back-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 8px;
    /*box-shadow: 0px 5px 20px 0px #0000004a;*/
    background-color: #565656 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer;
    font-size: 16px;
    transition-duration: .3s;
}

.back-btn:hover {
    transition-duration: .3s;
    background-color: #555;
    box-shadow: none;
}

#locCities {
    max-width: calc(100% - 60px);
    max-height: calc(100vh - 260px);
    overflow-y: scroll;
    padding: 10px;
    border-radius: 8px;
}

/* driver pages */
/* ringing */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 200px);
}

.gray-bg {
    background-color: #efefef;
}

.blocks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
    transition-duration: .3s;
}

.blocks:hover {
    box-shadow: none;
    transition-duration: .3s;
    scale: .99;
}

.blocks-heading {
    background-color: #000000;
}

.blocks-heading:hover {
    box-shadow: none;
    transition-duration: .3s;
    scale: 1;
}

.blocks-heading p {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}

.small-btn {
    float: right;
    background-color: dimgrey;
    color: #fff;
    padding: 6px 16px;
    border-radius: 14px;
    outline: none;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: .3s;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}

.btn:hover {
    background-color: #555;
    transition-duration: .3s;
}

.map-btn {
    background-color: #eee;
    padding: 3px 10px;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

/* admin dashboard */
.admin-block-panel {
    width: calc(100% - 120px);
    padding: 80px 60px;
}

.admin-block {
    cursor: pointer;
    width: calc((100% - 300px) / 3);
    display: inline-block;
    margin: 15px;
    background-color: #ffffff;
    padding: 30px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.03);
    transition-duration: .3s;
    font-size: 15px;
}

.admin-block-inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.admin-block:hover {
    scale: 0.96;
    box-shadow: none;
}

.admin-block-text {
    display: inline-block;
    float: left;
}

.admin-block-icon {
    font-size: 24px;
    margin-bottom: 6px;
}

.status-block {
    /*box-shadow: 0 5px 20px 0 #0000000f;*/
    border-radius: 47px;
    width: 400px;
    padding: 20px;
    /*background-color: #ffffff;*/
}

.status-block h1 {
    font-size: 24px;
    font-weight: 400;
}

.status-block-animated {
    position: absolute;
    box-shadow: 0 5px 20px 0 #0000000f;
    border-radius: 200px;
    width: 280px;
    height: 280px;
    scale: 1;
    z-index: -1;
    /*border: 1px solid #000;*/
}

.scale-animation {
    animation: scale 2s ease infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: scale(2); /* Scale to 1.2 at 50% of the animation */
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}

/* error styles */
/* input error */
.input-error {
    border: 2px solid #ff0000 !important;
    background-color: #ff00001a !important;
}

.error-message {
    color: #ff0000;
    font-size: 12px;
}
