<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>goflow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListRider</display-name>
    <servlet-name>ListRider</servlet-name>
    <servlet-class>controller.rider.ListRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRider</servlet-name>
    <url-pattern>/ListRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRider</display-name>
    <servlet-name>GetRider</servlet-name>
    <servlet-class>controller.rider.GetRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRider</servlet-name>
    <url-pattern>/GetRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRider</display-name>
    <servlet-name>AddRider</servlet-name>
    <servlet-class>controller.rider.AddRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRider</servlet-name>
    <url-pattern>/AddRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRider</display-name>
    <servlet-name>DeleteRider</servlet-name>
    <servlet-class>controller.rider.DeleteRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRider</servlet-name>
    <url-pattern>/DeleteRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRider</display-name>
    <servlet-name>UpdateRider</servlet-name>
    <servlet-class>controller.rider.UpdateRider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRider</servlet-name>
    <url-pattern>/UpdateRider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.rider.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>